.contentarea
  - unless @page.current?
    %p.version
      Version #{@page.selected_version_commit.id_abbrev},
      authored #{@page.selected_version_commit.authored_date}
      by #{@page.selected_version_commit.author.name}
  - unless @page.titled?
    %h1= @title
  ~ @page.render
