.titlebar
  .upper Stewiki: A personal wiki
  .lower
    .lowerfloat
      %a{:href => url("/page/Home")} Home
    Last modified #{@page_last_modified} commit #{@page_last_commit}
    |
    %a{:href => url("/edit/#{params[:pagename]}")} Edit
