.titlebar
  .upper Stewiki: A personal wiki
  .lower
    .lowerfloat
      %a{:href => url("/page/Home")} Home
    Last modified #{@page.last_modified} commit #{@page.last_commit_abbrev}
    |
    %a{:href => url("/edit/#{params[:pagename]}")} Edit
