%h1 Edit Credentials

%p
  Editing credentials for
  %em= @user_to_edit.name

%form{:action => "/user/credentials/" + escape_path(@user_to_edit.email), :method => 'post'}
  %table
    %tr
      %th Edit
      %td
        %input{:type => 'checkbox', :name => 'edit', :value => 1, :checked => @user_to_edit.can_edit? }
    %tr
      %th Admin
      %td
        %input{:type => 'checkbox', :name => 'admin', :value => 1, :checked => @user_to_edit.is_admin? }
    - if user.is_superuser?
      %tr
        %th Superuser
        %td
          %input{:type => 'checkbox', :name => 'superuser', :value => @user_to_edit.is_superuser?}

  %p
    %input{:type => 'submit', :value => 'Save'}
